<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/cinema">Cinema</a></li>
				<li class="active"><a href="/ville">Ville</a></li>
				<li><a href="/salle">Salle</a></li>
				<li><a href="/place">Place</a></li>

				<li><a href="/categorie">Categorie</a></li>
				<li><a href="/film">Film</a></li>
				<li><a href="/projectionfilm">Projection Film</a></li>
				<li><a href="/seance">Seance</a></li>
				<li><a href="/ticket">Ticket</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajouter une Ville</h4>
				</div>
				<div class="panel-body">
					<!-- formulaire de saisie de commentaire -->
					<div>
						<label>Nom: </label><br>
						<input [(ngModel)]="ville.name" class="form-control" placeholder="Entrer un nom"><br>
						<label>Longitude: </label><br>
						<input [(ngModel)]="ville.longitude" class="form-control" placeholder="longitude"><br>
						<label>Latitude: </label><br>
						<input [(ngModel)]="ville.latitude" class="form-control" placeholder="latitude"><br>
						<label>Altitude: </label><br>
						<input [(ngModel)]="ville.altitude" class="form-control" placeholder="altitude"><br>
						<button (click)="saveVille()" class="btn btn-success">Ajouter</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Villes</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="villes.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#Id</td>
									<td>Nom</td>
									<td>Longitude</td>
									<td>Latitude</td>
									<td>Altitude</td>
									<td>Modification</td>
									<td>Suppression</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let v of villes">
									<td>{{v.id}}</td>
									<td>{{v.name}}</td>
									<td>{{v.longitude}}</td>
									<td>{{v.latitude}}</td>
									<td>{{v.altitude}}</td>
									<td><button class="btn btn-success" (click)="updateVille(v.id)">Modifier</button>
									</td>
									<td><button class="btn btn-danger" (click)="deleteVille(v.id)">Supprimer</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>