<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<button routerLink="/accueil" class="btn btn-primary">Accueil</button>
			<button routerLink="/cinema" class="btn btn-primary espace">Cinema</button>
			<button routerLink="/ville" class="btn btn-primary espace">Ville</button>
			<button routerLink="/salle" class="btn btn-primary espace">Salle</button>
			<button routerLink="/place" class="btn btn-primary espace">Place</button>
			<button routerLink="/categorie" class="btn btn-primary espace">Categorie</button>
			<button routerLink="/film" class="btn btn-primary espace">Film</button>
			<button routerLink="/projectionfilm" class="btn btn-primary espace">ProjectionFilm</button>
			<button routerLink="/seance" class="btn btn-primary espace">Seance</button>
			<button routerLink="/ticket" class="btn btn-primary espace">Ticket</button>
			<hr>
		</div>
	</div>
	<div>
		<p>Admin works !</p>
	</div>
	<div class="row">
		<router-outlet></router-outlet>
	</div>
</div>
