<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Ajouter Un Film</h4>
				</div>
				<div class="panel-body">
					<!-- formulaire de saisie de commentaire -->
					<div>
						<input [(ngModel)]="film.titre"> Titre<br><br>
						<input [(ngModel)]="film.duree"> Duree <br><br>
						<!-- <input [(ngModel)]="film.realisateur"> Réalisateur <br><br> -->
						<input [(ngModel)]="film.description"> description <br><br>
						<input [(ngModel)]="film.photo"> photo <br><br>
						<input [(ngModel)]="film.dateSortie"> Date de Sortie <br><br>

						<button (click)="saveFilm()" class="btn bg-primary espace">
							Ajouter
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les Films</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="films.length>0">
						<table class="table table-striped">
							<tr>
								<td>ID</td>
								<td>Titre</td>
								<td>Duree</td>
								<!-- <td>realisateur</td> -->
								<td>description</td>
								<td>dateSortie</td>
							</tr>
							<tr *ngFor="let f of films">
								<td> {{f.id}}</td>
								<td> {{f.titre}}</td>
								<td>{{f.duree}}</td>
								<!-- <td>{{f.realisateur}}</td> -->
								<td>{{f.description}}</td>
								<td>{{f.dateSortie}}</td>
								<td><a class="btn btn-danger" (click)="detailFilm(f.id)">Detail</a></td>
								<td><button class="btn btn-success" (click)="deleteFilm(f.id)">Delete</button></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div *ngFor="let f of films">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading tailleimage">
					{{f.titre}}<br />
				</div>
				<div class="panel-body">
					photo {{f.photo}}
					<!-- <img src="{{p.previewURL}}" /> <br /> -->
				</div>
				<div class="panel-footer">
					{{f.description}} <span class="glyphicon glyphicon-heart"></span> <br>
					<a class="btn btn-success" (click)="detailFilm(f.id)">Detail</a>
					<button class="btn btn-danger" (click)="deleteFilm(f.id)">Delete</button>
				</div>

			</div>
		</div>
	</div>




</div>