<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/cinema">Cinema</a></li>
				<li><a href="/ville">Ville</a></li>
				<li><a href="/salle">Salle</a></li>
				<li><a href="/place">Place</a></li>

				<li><a href="/categorie">Categorie</a></li>
				<li class="active"><a href="/film">Film</a></li>
				<li><a href="/projectionfilm">Projection Film</a></li>
				<li><a href="/seance">Seance</a></li>
				<li><a href="/ticket">Ticket</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajouter un Film</h4>
				</div>
				<div class="panel-body">
					<!-- formulaire de saisie de commentaire -->
					<div>
						<label>Titre: </label><br>
						<input [(ngModel)]="film.titre" class="form-control" placeholder="Entrer un titre"><br>
						<label>Duree: </label><br>
						<input [(ngModel)]="film.duree" class="form-control"><br>
						<label>Realisateur: </label><br>
						<input [(ngModel)]="film.realisateur" class="form-control"
							placeholder="Entrer un realisateur"><br>
						<label>Description: </label><br>
						<input [(ngModel)]="film.description" class="form-control"
							placeholder="Entrer une description"><br>
						<label>Photo: </label><br>
						<input [(ngModel)]="film.photo" class="form-control" placeholder="Entrer une photo"><br>
						<label>Date: </label><br>
						<input [(ngModel)]="film.dateSortie" type="date" id="input" class="form-control" mdbInput><br>
						<label>Choix de categorie: </label><br>
						<select class="form-control" [(ngModel)]="film.categorie">
							<option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
						</select><br>
						<!-- <ng-select [items]="categories" bindLabel="name" placeholder="Choisir une categorie"
								[(ngModel)]="film.categorie">
							</ng-select> -->

						<span *ngIf="test == 0">
							<button (click)="saveFilm()" class="btn btn-success">Ajouter</button>
						</span>
						<span *ngIf="test == 1">
							<button (click)="saveFilm()" class="btn btn-warning">Modifier</button>
						</span>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Films</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="films.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#Id</td>
									<td>Titre</td>
									<td>Duree</td>
									<td>Realisateur</td>
									<td>Description</td>
									<td>DateSortie</td>
									<td>Modification</td>
									<td>Suppression</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let f of films">
									<td> {{f.id}}</td>
									<td> {{f.titre}}</td>
									<td>{{f.duree}}</td>
									<td>{{f.realisateur}}</td>
									<td>{{f.description}}</td>
									<td>{{f.dateSortie | date:'M/d/yy'}}</td>
									<td><a class="btn btn-success" (click)="detailFilm(f.id)">Modifier</a></td>
									<td><button class="btn btn-danger" (click)="deleteFilm(f.id)">Supprimer</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div *ngFor="let f of films">
			<div class="col-md-4">
				<div class="panel panel-info">
					<div class="panel-heading tailleimage">
						{{f.titre}}<br />
					</div>
					<div class="panel-body">
						<div class="col-md-3">
							<span class="espaceImage"><img class="maxImage" src="{{f.photo}}" alt="image" /></span>
						</div>
					</div>
					<div class="panel-footer">
						{{f.description}} <span class="glyphicon"></span> <br><br>
						<a class="btn btn-success" (click)="detailFilm(f.id)">Modifier</a>
						<button class="btn btn-danger espace" (click)="deleteFilm(f.id)">Supprimer</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>