<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
	<br><br><br>
	<h1 class="page-header">Bienvenue cher client !</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Veuillez indiquez votre ville</h4>
				</div>
				<div class="panel-body">
					<input [(ngModel)]="nomVille" type="text" id="input" class="form-control" mdbInput>
					<br>
					<button class="btn btn-primary" (click)="chercherCinemas(nomVille)">Valider</button>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Lister les cinemas</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="cinemas.length>0">
						<table class="table table-striped">
							<tr>
								<td>ID</td>
								<td>name</td>
								<td>selectionner</td>
							</tr>
							<tr *ngFor="let c of cinemas">
								<td>{{c.id}}</td>
								<td>{{c.name}}</td>
								<td><a class="btn btn-success">Choisir</a></td>
								<!-- <td><a class="btn btn-danger" (click)="detailFilm(f.id)">Detail</a></td>
								<td><button class="btn btn-success" (click)="deleteFilm(f.id)">Delete</button></td> -->
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>