<div class="col-sm-9 col-sm-offset-1 col-md-10 col-md-offset-1 main">
	<h1 class="page-header">Bienvenue cher client !</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Veuillez indiquez votre ville</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 sidebar">
							<ul class="nav nav-sidebar" *ngFor="let v of villes">
								<li><button class="btn btn-primary"
										(click)="chercherCinemas(v.name)">{{v.name}}</button>
								</li><br>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Les Cinemas</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4 sidebar">
							<ul class="nav navbar-nav" *ngFor="let c of cinemas">
								<li><button class="btn btn-primary espace"
										(click)="chercherSalles(c.id)">{{c.name}}</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div *ngFor="let s of salles">
				<div class="panel panel-info">
					<div class="panel-heading">
						<button class="btn btn-primary" (click)="chercherProjections(s.id)">{{s.name}}</button>
					</div>
					<div class="panel-body">
						<div *ngFor="let projection of s.projectionFilms">
							<div class="col-md-6 maxDiv">
								<div class="panel panel-info">
									<div class="panel-heading">
										<p>Titre : {{projection.film.titre}}</p>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-md-3 maxImage">
												<img class="maxImage" src="{{projection.film.photo}}" alt="image" />
											</div>
											<div class="col-md-6 col-md-offset-1">
												<div class="panel panel-info">
													<div class="panel-heading">
														<p>Seances</p>
													</div>
													<div class="panel-body">
														<div class="table">
															<thead>
																<tr>Date de Seance</tr>
																<tr></tr>
															</thead>
															<tbody>
																<tr>
																	<td>
																		{{projection.seance.heureDebut | date:'M/d/yy'}}
																	</td>
																	<button class="btn btn-primary espace"
																		(click)="chercherTickets(projection)">Choisir</button>
																</tr>
															</tbody>
														</div>
														<hr>
														<div class="row">
															<span *ngFor="let t of projection.tickets">
																<button class="btn btn-primary espacePlace"
																	>{{t.place.numero}}</button>
															</span>															
														</div>
													</div>
												</div>
											</div>
										</div>
										<hr>
										<div class="row" *ngIf="tickets.length>0">
											<div class="col-md-10 col-md-offset-1">
												<div class="panel panel-info">
													<div class="panel-heading">
														<p>Suite</p>
													</div>
													<div class="panel-body">

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>