<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<button routerLink="/accueil" class="btn btn-primary">Accueil</button>
			<button routerLink="/cinema" class="btn btn-primary espace">Cinema</button>
			<button routerLink="/ville" class="btn btn-primary espace">Ville</button>
			<button routerLink="/salle" class="btn btn-primary espace">Salle</button>
			<button routerLink="/place" class="btn btn-primary espace">Place</button>
			<button routerLink="/categorie" class="btn btn-primary espace">Categorie</button>
			<button routerLink="/film" class="btn btn-primary espace">Film</button>
			<button routerLink="/projectionfilm" class="btn btn-primary espace">ProjectionFilm</button>
			<button routerLink="/seance" class="btn btn-primary espace">Seance</button>
			<button routerLink="/ticket" class="btn btn-primary espace">Ticket</button>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajout d'une projection</h4>
				</div>
				<div class="panel-body">
					<p>Mon formulaire</p>
					<div>
						<label>Date de projection : </label><br>
						<input [(ngModel)]="projection.dateProjection" placeholder="Entrer la date"><br>
						<label>Prix : </label><br>
						<input [(ngModel)]="projection.prix" placeholder="Entrer le prix"><br>

						<label>Films : </label><br>
						<select class="form-control" [(ngModel)]="projection.film">
							<option *ngFor="let f of films" [ngValue]="f">{{f.titre}}</option>
						</select>

						<label>Salles : </label><br>
						<select class="form-control" [(ngModel)]="projection.salle">
								<option *ngFor="let s of salles" [ngValue]="s">{{s.name}}</option>
						</select>
						<br>

						<span *ngIf="test == 0">
							<button (click)="saveProjection()" class="btn btn-success">Ajouter</button>
						</span>
						<span *ngIf="test == 1">
							<button (click)="saveProjection()" class="btn btn-warning">Modifier</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des projections</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="projections.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td># ID</td>
									<td>DATE</td>
									<td>PRIX</td>
									<td>MODIFICATION</td>
									<td>SUPPRESSION</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let p of projections">
									<td> {{p.id}}</td>
									<td> {{p.dateProjection | date:'short'}}</td>
									<td> {{p.prix}}</td>

									<td><button class="clickable btn btn-success"
											(click)="updateProjection(p.id)">Modifier</button></td>
									<td><button class="clickable btn btn-danger"
											(click)="deleteProjection(p.id)">Delete</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>