<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/cinema">Cinema</a></li>
				<li><a href="/ville">Ville</a></li>
				<li><a href="/salle">Salle</a></li>
				<li><a href="/place">Place</a></li>

				<li><a href="/categorie">Categorie</a></li>
				<li><a href="/film">Film</a></li>
				<li><a href="/projectionfilm">Projection Film</a></li>
				<li><a href="/seance">Seance</a></li>
				<li><a href="/ticket">Ticket</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br><br>
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajouter une Projection</h4>
				</div>
				<div class="panel-body">

					<label>Date de projection : </label><br>
					<input [(ngModel)]="projection.dateProjection" type="date" class="form-control"
						placeholder="Entrer la date" mdbInput><br>
					<label>Prix : </label><br>
					<input [(ngModel)]="projection.prix" class="form-control" placeholder="Entrer le prix"><br>

					<label>Choix du film : </label><br>
					<select class="form-control" [(ngModel)]="projection.film">
						<option *ngFor="let f of films" [ngValue]="f">{{f.titre}}</option>
					</select><br>

					<label>Choix de la salle : </label><br>
					<select class="form-control" [(ngModel)]="projection.salle">
						<option *ngFor="let s of salles" [ngValue]="s">{{s.name}}</option>
					</select><br>

					<label>Choix de la seance : </label><br>
					<select class="form-control" [(ngModel)]="projection.seance">
						<option *ngFor="let s of seances" [ngValue]="s">{{s.heureDebut | date:'short'}}</option>
					</select><br>

					<span *ngIf="test == 0">
						<button (click)="saveProjection()" class="btn btn-success">Ajouter</button>
					</span>
					<span *ngIf="test == 1">
						<button (click)="saveProjection()" class="btn btn-warning">Modifier</button>
					</span>

				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Projections</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="projections.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#Id</td>
									<td>Date</td>
									<td>Prix</td>
									<td>Film</td>
									<td>Salle</td>
									<td>Seance</td>
									<td>Modification</td>
									<td>Suppression</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let p of projections">
									<td> {{p.id}}</td>
									<td> {{p.dateProjection | date:'short'}}</td>
									<td> {{p.prix}}</td>
									<td> {{p.film.titre}}</td>
									<td> {{p.salle.name}}</td>
									<td> {{p.seance.heureDebut | date:'M/d/yy'}}</td>
									<td><button class="clickable btn btn-success"
											(click)="updateProjection(p.id)">Modifier</button></td>
									<td><button class="clickable btn btn-danger"
											(click)="deleteProjection(p.id)">Supprimer</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>