<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/cinema">Cinema</a></li>
				<li><a href="/ville">Ville</a></li>
				<li><a href="/salle">Salle</a></li>
				<li><a href="/place">Place</a></li>

				<li><a href="/categorie">Categorie</a></li>
				<li><a href="/film">Film</a></li>
				<li><a href="/projectionFilm">Projection Film</a></li>
				<li><a href="/seance">Seance</a></li>
				<li><a href="/ticket">Ticket</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br><br>
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajouter une Salle</h4>
				</div>
				<div class="panel-body">
					<div>
						<label>Nom: </label><br>
						<input [(ngModel)]="salle.name" class="form-control" placeholder="Entrer un nom"><br>
						<label>Nombre de Places: </label><br>
						<input [(ngModel)]="salle.nombrePlaces" class="form-control"
							placeholder="Entrer un Nombre de Place"><br><br>

						<select ng-model="selectedName" ng-options="x for x in names"></select><br><br>

						<span *ngIf="test == 0">
							<button (click)="saveSalle()" class="btn btn-success">Ajouter</button>
						</span>
						<span *ngIf="test == 1">
							<button (click)="saveSalle()" class="btn btn-warning">Modifier</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Salles</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="salles.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#Id</td>
									<td>Nom</td>
									<td>NombrePlaces</td>
									<td>Modification</td>
									<td>Suppression</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let s of salles">
									<td> {{s.id}}</td>
									<td> {{s.name}}</td>
									<td> {{s.nombrePlaces}}</td>
									<td><button class="clickable btn btn-success"
											(click)="updateSalle(s.id)">Modifier</button></td>
									<td><button class="clickable btn btn-danger"
											(click)="deleteSalle(s.id)">Supprimer</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>