<div class="col-sm-12 col-md-4 col-md-offset-4 main">
    <h1 class="page-header">TP Projet gestion cinemas</h1>
</div>
<div class="col-sm-12 col-md-4 col-md-offset-4">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Groupe 3</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td><h4>Lin</h4></td>
                    <td><h4>Jianda</h4></td>
                </tr>

                <tr>
                    <td><h4>Bouet</h4></td>
                    <td><h4>Corentin</h4></td>
                </tr>

                <tr>
                    <td><h4>Ryckebusch</h4></td>
                    <td><h4>Quentin</h4></td>
                </tr>

                <tr>
                    <td><h4>De Luca</h4></td>
                    <td><h4>Giunio</h4></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue">

            <!-- Footer Elements -->
            <div class="container">
                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                            <i class="fab fa-twitter"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1">
                            <i class="fab fa-google-plus-g"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1">
                            <i class="fab fa-linkedin-in"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-dribbble mx-1">
                            <i class="fab fa-dribbble"> </i>
                        </a>
                    </li>
                </ul>
                <!-- Social buttons -->
            </div>
            <!-- Footer Elements -->
            <hr>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3"> &copy; 2020 Copyright: <br>
                Formation Java JEE Montparnasse 21 octobre 2019 - 17 janvier 2020 <br>
                INTI FORMATION <img src="assets/img/intiimage.png" width="100">
            </div>

    </footer>
    <!-- Footer -->

</div>