<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<button routerLink="/accueil" class="btn btn-primary">Accueil</button>
			<button routerLink="/cinema" class="btn btn-primary espace">Cinema</button>
			<button routerLink="/ville" class="btn btn-primary espace">Ville</button>
			<button routerLink="/salle" class="btn btn-primary espace">Salle</button>
			<button routerLink="/place" class="btn btn-primary espace">Place</button>
			<button routerLink="/categorie" class="btn btn-primary espace">Categorie</button>
			<button routerLink="/film" class="btn btn-primary espace">Film</button>
			<button routerLink="/projectionfilm" class="btn btn-primary espace">ProjectionFilm</button>
			<button routerLink="/seance" class="btn btn-primary espace">Seance</button>
			<button routerLink="/ticket" class="btn btn-primary espace">Ticket</button>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajout d'une Seance</h4>
				</div>
				<div class="panel-body">
					<p>Mon formulaire</p>
					<div>
						<label>Heure de debut: </label><br>
						<!-- <input [(ngModel)]="seance.heureDebut" placeholder="Entrer une Heure de Debut"><br><br> -->
<!-- 
						<div class="md-form">
							<input [(ngModel)]="seance.heureDebut" type="time" id="input" class="form-control"
								value="13:00" mdbInput />

						</div> -->

						<div class="md-form">
							<input  [(ngModel)]="seance.heureDebut" type="datetime-local" id="input" class="form-control" mdbInput>
							<label for="input">Choose your date</label>
						</div>


						<select ng-model="selectedName" ng-options="x for x in names"></select><br><br>

						<span *ngIf="test == 0">
							<button (click)="saveSeance()" class="btn btn-success">Ajouter</button>
						</span>
						<span *ngIf="test == 1">
							<button (click)="saveSeance()" class="btn btn-warning">Modifier</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Seances</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="seances.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#ID</td>
									<td>HEURE DE DEBUT</td>
									<td>MODIFICATION</td>
									<td>SUPPRESSION</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let s of seances">
									<td> {{s.id}}</td>
									<td> {{s.heureDebut | date:'short'}}</td>
									<td><button class="clickable btn btn-success"
											(click)="updateSeance(s.id)">Modifier</button></td>
									<td><button class="clickable btn btn-danger"
											(click)="deleteSeance(s.id)">Delete</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>