<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/cinema">Cinema</a></li>
				<li><a href="/ville">Ville</a></li>
				<li><a href="/salle">Salle</a></li>
				<li><a href="/place">Place</a></li>

				<li><a href="/categorie">Categorie</a></li>
				<li><a href="/film">Film</a></li>
				<li><a href="/projectionfilm">Projection Film</a></li>
				<li><a href="/seance">Seance</a></li>
				<li><a href="/ticket">Ticket</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br><br>
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajouter une Seance</h4>
				</div>
				<div class="panel-body">

					<label>Heure de debut: </label><br>
					<input [(ngModel)]="seance.heureDebut" type="datetime-local" id="input" class="form-control"
						mdbInput><br>

					<!-- <label>Choix de la projection: </label><br>
					<select class="form-control">
						<option *ngFor="let p of projections" [ngValue]="p">{{p.dateProjection | date:'M/d/yy'}}
						</option>
					</select><br> -->

					<span *ngIf="test == 0">
						<button (click)="saveSeance()" class="btn btn-success">Ajouter</button>
					</span>
					<span *ngIf="test == 1">
						<button (click)="saveSeance()" class="btn btn-warning">Modifier</button>
					</span>

				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Seances</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="seances.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#Id</td>
									<td>Heure de Debut</td>
									<td>Projection</td>
									<td>Modification</td>
									<td>Suppression</td>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let s of seances">
									<td> {{s.id}}</td>
									<td> {{s.heureDebut | date:'short'}}</td>
									<td> {{s.projectionFilm?.dateProjection | date:'short'}} (En cours de dev)</td>
									<td><button class="clickable btn btn-success"
											(click)="updateSeance(s.id)">Modifier</button></td>
									<td><button class="clickable btn btn-danger"
											(click)="deleteSeance(s.id)">Supprimer</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>