<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Ajout d'un Ticket</h4>
        </div>
        <div class="panel-body">
          <p>Mon formulaire</p>
          <div>
            <label>NomClient: </label><br>
            <input [(ngModel)]="ticket.nomClient" placeholder="Entrer un nom"><br>
            <label>Prix: </label><br>
            <input [(ngModel)]="ticket.prix" placeholder="Entrer un prix"><br>
            <label>CodePayement: </label><br>
            <input [(ngModel)]="ticket.codePayement" placeholder="Entrer un code de Payement"><br>
            <label>Reservee: </label><br>
            <!-- <input [(ngModel)]="ticket.reservee" placeholder="Est-ce reservee ? True ou False"><br> -->
            <div class="form-check">
              <input [(ngModel)]="ticket.reservee" class="form-check-input" type="radio" name="True" id="True"
                value="True" checked>
              <label class="form-check-label" for="True">
                Oui
              </label>
            </div>
            <div class="form-check">
              <input [(ngModel)]="ticket.reservee" class="form-check-input" type="radio" name="False" id="False"
                value="False">
              <label class="form-check-label" for="False">
                Non
              </label>
            </div>

            <select ng-model="selectedName" ng-options="x for x in names"></select><br><br>

            <span *ngIf="test == 0">
              <button (click)="saveTicket()" class="btn btn-success">Ajouter</button>
            </span>
            <span *ngIf="test == 1">
              <button (click)="saveTicket()" class="btn btn-warning">Modifier</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h4>Liste des Tickets</h4>
        </div>
        <div class="panel-body">
          <div *ngIf="tickets.length>0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>#ID</td>
                  <td>NOMCLIENT</td>
                  <td>PRIX</td>
                  <td>CODE PAYEMENT</td>
                  <td>RESERVEE</td>
                  <td>MODIFICATION</td>
                  <td>SUPPRESSION</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of tickets">
                  <td> {{t.id}}</td>
                  <td> {{t.nomClient}}</td>
                  <td> {{t.prix}}</td>
                  <td> {{t.codePayement}}</td>
                  <td> {{t.reservee}}</td>
                  <td><button class="clickable btn btn-success" (click)="detailTicket(t.id)">Modifier</button></td>
                  <td><button class="clickable btn btn-danger" (click)="deleteTicket(t.id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>