<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/cinema">Cinema</a></li>
        <li><a href="/ville">Ville</a></li>
        <li><a href="/salle">Salle</a></li>
        <li><a href="/place">Place</a></li>

        <li><a href="/categorie">Categorie</a></li>
        <li><a href="/film">Film</a></li>
        <li><a href="/projectionfilm">Projection Film</a></li>
        <li><a href="/seance">Seance</a></li>
        <li><a href="/ticket">Ticket</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <br><br><br>
  <h1 class="page-header">Dashboard</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>Ajouter un Ticket</h4>
        </div>
        <div class="panel-body">
          <label>NomClient: </label><br>
          <input [(ngModel)]="ticket.nomClient" class="form-control" placeholder="Entrer un nom"><br>
          <label>Prix: </label><br>
          <input [(ngModel)]="ticket.prix" class="form-control" placeholder="Entrer un prix"><br>
          <label>CodePayement: </label><br>
          <input [(ngModel)]="ticket.codePayement" class="form-control" placeholder="Entrer un code de Payement"><br>
          <label>Reservee: </label><br>
          <!-- <input [(ngModel)]="ticket.reservee" placeholder="Est-ce reservee ? True ou False"><br> -->
          <div class="form-check col-md-4">
            <input [(ngModel)]="ticket.reservee" class="form-check-input" type="radio" name="True" id="True"
              value="True" checked>
            <label class="form-check-label" for="True">
              Oui
            </label>
          </div>
          <div class="form-check col-md-4">
            <input [(ngModel)]="ticket.reservee" class="form-check-input" type="radio" name="False" id="False"
              value="False">
            <label class="form-check-label" for="False">
              Non
            </label>
          </div><br><br>

          <label>Choix de la place : </label><br>
          <select class="form-control" [(ngModel)]="ticket.place">
            <option *ngFor="let p of places" [ngValue]="p">{{p.numero}}</option>
          </select><br>

          <label>Choix de la projection : </label><br>
          <select class="form-control" [(ngModel)]="ticket.projection">
            <option *ngFor="let p of projections" [ngValue]="p">{{p.dateProjection }}</option>
          </select><br>

          <span *ngIf="test == 0">
            <button (click)="saveTicket()" class="btn btn-success">Ajouter</button>
          </span>
          <span *ngIf="test == 1">
            <button (click)="saveTicket()" class="btn btn-warning">Modifier</button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h4>Liste des Tickets</h4>
        </div>
        <div class="panel-body">
          <div *ngIf="tickets.length>0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>#Id</td>
                  <td>NomClient</td>
                  <td>Prix</td>
                  <td>Code de Paiement</td>
                  <td>Reserver</td>
                  <td>Place</td>
                  <td>Projection</td>
                  <td>Modification</td>
                  <td>Suppression</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of tickets">
                  <td>{{t.id}}</td>
                  <td>{{t.nomClient}}</td>
                  <td>{{t.prix}}</td>
                  <td>{{t.codePayement}}</td>
                  <td>{{t.reservee}}</td>
                  <td>{{t.place.numero}}</td>
                  <td>{{t.projection.dateProjection | date:'M/d/yy'}}</td>
                  <td><button class="clickable btn btn-success" (click)="detailTicket(t.id)">Modifier</button></td>
                  <td><button class="clickable btn btn-danger" (click)="deleteTicket(t.id)">Supprimer</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>