<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/cinema">Cinema</a></li>
				<li><a href="/ville">Ville</a></li>
				<li><a href="/salle">Salle</a></li>
				<li><a href="/place">Place</a></li>

				<li><a href="/categorie">Categorie</a></li>
				<li><a href="/film">Film</a></li>
				<li><a href="/projectionfilm">Projection Film</a></li>
				<li><a href="/seance">Seance</a></li>
				<li><a href="/ticket">Ticket</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<br><br><br>
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajouter une Categorie</h4>
				</div>
				<div class="panel-body">
					<!-- formulaire de saisie de commentaire -->
					<div>
						<label>Nom: </label><br>
						<input [(ngModel)]="categorie.name" class="form-control" placeholder="Entrer un nom"><br>
						<span *ngIf="test == 0">
							<button (click)="saveCategorie()" class="btn btn-success">Ajouter</button>
						</span>
						<span *ngIf="test == 1">
							<button (click)="saveCategorie()" class="btn btn-warning">Modifier</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Categories</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="categories.length>0">
						<table class="table table-striped">
							<tr>
								<td>#Id</td>
								<td>Nom</td>
								<td>Modification</td>
								<td>Suppression</td>
							</tr>
							<tr *ngFor="let c of categories">
								<td> {{c.id}}</td>
								<td> {{c.name}}</td>
								<td><button class="btn btn-success" (click)="detailCategorie(c.id)">Modifier</button>
								</td>
								<td><button class="btn btn-danger" (click)="deleteCategorie(c.id)">Supprimer</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>