<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a href="/admin">Accueil <span class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="/cinema">Cinema</a></li>
				<li><a href="/ville">Ville</a></li>
				<li><a href="/salle">Salle</a></li>
				<li class="active"><a href="/place">Place</a></li>

				<li><a href="/categorie">Categorie</a></li>
				<li><a href="/film">Film</a></li>
				<li><a href="/projectionfilm">Projection Film</a></li>
				<li><a href="/seance">Seance</a></li>
				<li><a href="/ticket">Ticket</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Ajouter une Place</h4>
				</div>
				<div class="panel-body">
					<!-- formulaire de saisie de commentaire -->
					<div>
						<label>Numero: </label><br>
						<input [(ngModel)]="place.numero" class="form-control" placeholder="numero"><br>
						<label>Longitude: </label><br>
						<input [(ngModel)]="place.longitude" class="form-control" placeholder="longitude"><br>
						<label>Latitude: </label><br>
						<input [(ngModel)]="place.latitude" class="form-control" placeholder="latitude"><br>
						<label>Altitude: </label><br>
						<input [(ngModel)]="place.altitude" class="form-control" placeholder="altitude"><br>
						<label>Choix de la salle: </label><br>
						<select class="form-control" [(ngModel)]="place.salle">
							<option *ngFor="let s of salles" [ngValue]="s">{{s.name}}</option>
						</select><br>

						<span *ngIf="test == 0">
							<button (click)="savePlace()" class="btn btn-success">Ajouter</button>
						</span>
						<span *ngIf="test == 1">
							<button (click)="savePlace()" class="btn btn-warning">Modifier</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>Liste des Places</h4>
				</div>
				<div class="panel-body">
					<div *ngIf="places.length>0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>#Id</td>
									<td>Numero</td>
									<td>Longitude</td>
									<td>Latitude</td>
									<td>Altitude</td>
									<td>Salle</td>
									<td>Modification</td>
									<td>Suppression</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let p of places">
									<td>{{p.id}}</td>
									<td>{{p.numero}}</td>
									<td>{{p.longitude}}</td>
									<td>{{p.latitude}}</td>
									<td>{{p.altitude}}</td>
									<td>{{p.salle.name}}</td>
									<td><button class="btn btn-success" (click)="updatePlace(p.id)">Modifier</button>
									</td>
									<td><button class="btn btn-danger" (click)="deletePlace(p.id)">Supprimer</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>